/* .fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #AAAAAA;
}
header{
    background-color: #FFFFFF;
}

.influencer-products{
    padding-left: 120px;
}
.menu{
    display: grid;
    justify-content: end;
    padding-right: 120px;
}
.list{
    padding-left: 20px;
}

.start-influencer-journey{
    display: flex;
    
    padding: 0px 120px 0px 120px;

}
.overview{
    width: 582px;
height: 270px;
    
}
.initial-banner{ 
    width: 440px;
    height: 414px;
}
.link-button{
    background-color:#E02C6D;
    color: white;
    font-size: 16px;
    border-radius: 41px;
    width: 24px;
    height: 24px;
    text-decoration: none;
}

.hr{
    border: 1px solid #D1D1D1;
}
.referral-site-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ecommerce-name{
    padding-left: 61px;
}